
body {
    background: #2E3440;
    /* margin: 0; */
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    animation-name: body;
    animation-duration: 12s;
    animation-fill-mode: forwards;
}

@keyframes body {
    from{overflow-y: hidden}
    to {overflow-y: scroll}
}